:root{
  /**extremo claro*/
  --AzulCC1: #1A2D87;
  --AzulCC2: #5E628D;
  --BrancoCC1: #B9BEC8;
  --BrancoCC2: #FFFFFF;
  --VermelhoCC1: #DB808A;
  --VermelhoCC2: #C8586B;
  /**Médio claro*/
  --AzulC1: #0E1848;
  --AzulC2: #404363;
  --BrancoC1: #8D99AE;
  --BrancoC2: #D8F1FD;
  --VermelhoC1: #EF233B;
  --VermelhoC2: #B30522;
  /**Padrão*/
  --AzulP1: #091136;
  --AzulP2: #2B2D42;
  --BrancoP1: #8D99AE;
  --BrancoP2: #D8F1FD;
  --VermelhoP1: #EF233B;
  --VermelhoP2: #B30522;
  /**Médio escuro*/
  --AzulE1: #050A1F;
  --AzulE2: #272836;
  --BrancoE1: #787F8A;
  --BrancoE2: #93ACB8;
  --VermelhoE1: #BE1D30;
  --VermelhoE2: #88061B;
  /**Extremo escuro*/
  --AzulEE1: #030611;
  --AzulEE2: #1F202C;
  --BrancoEE1: #6B6F75;
  --BrancoEE2: #687982;
  --VermelhoEE1: #811320;
  --VermelhoEE2: #4E0511;
}


 .container-Ava {
  background: linear-gradient(135deg, var(--AzulCC1) 0%, var(--AzulE1) 100%);
    min-height: 100vh;
    align-items: center;
    justify-content: center; 
    
    }
    
    .div-grupo-Ava{
      margin: 10vh;
      display: flex;
      flex-direction: row;
      gap: 5vh;
      padding: 3vh;
      background-repeat: no-repeat;
      border-radius: 8px;
      justify-content: center; 
      background-color: var(--BrancoC1);
    }
    .div-grupo-usuario-Ava {
      background: var(--BrancoP2);
      padding: 1vh;
      border-radius: 8px;
      text-align: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 39vh;
      height: 69.1vh;
    }
      .div-grupo-Avaliacao{
      background: var(--BrancoC2);
      border-radius: 8px;
      width: 117vh;
      height: 69.1vh;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .div-img{
      background-color: var(--AzulEE1);
      width: 210px;
      border-radius: 8px;
      
    }
    
    .img {
      width: 200px;
      border-radius: 8px;
      
    }
    .espaco{
      height: 50px;
    }
  
.perfil-input-1-avaliacao
.perfil-input-2-avaliacao
.perfil-input-3-avaliacao {
  gap: 40vh;
  display: inline-block;
  height: 10vh;
  width: 28vh;
}
    .input::placeholder{
      color: var(--BrancoP1);
    }
    .texto-inp{
      width: 30vh;
      margin: 5px 0;
      background: var(--AzulC1);
      color: var(--BrancoC2);
      border: none;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
  }

  .botoes-av{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-block: 10px;
  }


  .avaliar-usuario{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: var(--AzulC1);
    color: var(--BrancoCC2);
    cursor: pointer;
  }
  .avaliar-usuario:hover{
    color: var(--BrancoCC2);
    background-color: var(--AzulCC1);
  }

  .voltar{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: var(--AzulC1);
    color: var(--BrancoCC2);
    cursor: pointer;
  }

  .voltar:hover{
    color: var(--BrancoC2);
    background-color: var(--AzulCC1);
  }

  
  .texto-inp::placeholder {
      color: var(--BrancoC2);
      
  }

    
    .titulo-Ava {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 3vh;
      background-color: var(--AzulP2);
      border-radius: 3px;
      display: flex;
      justify-content: center;
      width: 117vh;
      justify-content: top;

    }
    .profissional-selecionado-avaliacao{
      background-color: var(--AzulP2);
      color: var(--BrancoCC2);
      width: 60vh;
      height: 10vh;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      margin-bottom: 20px;
    }
    
    .Ava-estrela{
        background-color: var(--AzulC1);
        border-radius: 8px;
        width: 111vh;
        height: 200px;
        margin-bottom: 60px;
        display:flex;
        align-items: center;
        justify-content: space-evenly
        
    }

    .Ava-coment{
        background-color: var(--AzulC1);
        border-radius: 8px;
        width: 111vh;
        height: 25vh;
        margin-bottom: 10px;
        display: flex;
        text-align: center;
        align-items: stretch;
        flex-direction: column;
    }
    .comentario {
      background-color: var(--AzulC1);
      color: var(--BrancoCC2);
      width: 111.0vh; 
      height:  90vh; 
      resize: none;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .titulo-Ava-coment{
      color: var(--BrancoCC2);
      font-size: 1.2rem;
      font-weight: bold;
      background-color: var(--VermelhoC1);
      border-radius: 3px;
    }
    .btn-av{
      background-color: var(--BrancoCC1);
      background: var(--AzulP2);
      display: flex;
      height: 4vh;
      width:30vh;
      justify-content: center;
      align-items: center;
      border-radius: 10px ;
      padding: 1vh;
      cursor: pointer; 
      margin-bottom: 10px;
    }
    .btn-star{
      background-color: var(--AzulP2);
      background: var(--BrancoCC2);
      border: none ;
      padding: 2px ;
      cursor: pointer; 
    }

    .stars {
      display: flex;
      gap: 8px;
      margin-top: 10px;
    }
  
    .spaçoBorda{
      width: 100vh;
    }

    .star-rating {
      display: flex;
      gap: 0.2em;
    }

    .star-button {
      position: relative;
      background: none;
      border: none;
      width: 10vh;
      height: 10vh;
      padding: 0;
      cursor: pointer;
    }

    .star-img {
      width: 10vh;
      height: 10vh;
      z-index: 0;
      pointer-events: none;
      position: relative;
      display: block;
    }

    .estrela-metade {
      position: absolute;
      width: 5vh;
      height: 10vh;
      top: 0;
      z-index: 1;
    }

    .estrela-metade.esquerda {
      left: 0.1vh;
    }

    .estrela-metade.direita {
      right: 0.1vh;
    }