:root{
  /**extremo claro*/
  --AzulCC1: #1A2D87;
  --AzulCC2: #5E628D;
  --BrancoCC1: #B9BEC8;
  --BrancoCC2: #FFFFFF;
  --VermelhoCC1: #DB808A;
  --VermelhoCC2: #C8586B;
  /**Médio claro*/
  --AzulC1: #0E1848;
  --AzulC2: #404363;
  --BrancoC1: #8D99AE;
  --BrancoC2: #D8F1FD;
  --VermelhoC1: #EF233B;
  --VermelhoC2: #B30522;
  /**Padrão*/
  --AzulP1: #091136;
  --AzulP2: #2B2D42;
  --BrancoP1: #8D99AE;
  --BrancoP2: #D8F1FD;
  --VermelhoP1: #EF233B;
  --VermelhoP2: #B30522;
  /**Médio escuro*/
  --AzulE1: #050A1F;
  --AzulE2: #272836;
  --BrancoE1: #787F8A;
  --BrancoE2: #93ACB8;
  --VermelhoE1: #BE1D30;
  --VermelhoE2: #88061B;
  /**Extremo escuro*/
  --AzulEE1: #030611;
  --AzulEE2: #1F202C;
  --BrancoEE1: #6B6F75;
  --BrancoEE2: #687982;
  --VermelhoEE1: #811320;
  --VermelhoEE2: #4E0511;
}

.container-editperfil{
    background: linear-gradient(135deg, var(--AzulCC1) 0%, var(--AzulE1) 100%);
    min-height: 100vh;
    align-items: center;
}
.button-editar{
background: var(--AzulP2);
color: var(--BrancoC2);
border: none;
border-radius: 8px;
padding: 10px;
cursor: pointer;
}
.div-grupo-usuario-1{
  background: var(--BrancoC2);
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 30px;
  height: 58vh;
}
.selectEditPerfil{
  width: 100%;
  margin: 5px 0;
  background: var(--AzulP2);
  color: var(--BrancoC2);
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.texto-inp-edit{
  width: 100%;
  margin: 5px 0;
  background: var(--AzulP2);
  color: var(--BrancoC2);
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.div-grupo-1 {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background: var(--BrancoC1);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  
  width: 70%;

  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
}
.container-inputs{
  background-color: var(--BrancoC2);
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 650px;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
}

.container-de-inputs-12{
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center; 
  width: 100%;
  height: 100%;
  gap: 20px;
  background-color: var(--BrancoC2);

}

.div-inputs1 {
  padding: 15px; 
  border-radius: 8px;
  display: flex;
  flex-direction: column; 
  gap: 20px;
  width: 100%; 
  margin: 20px 0 ;
  height: 500px;
  background-color: var(--BrancoC2);
}
.div-inputs1 input{
  color: var(--BrancoC2);
  background-color: var(--AzulP2);
  width: 90%; 
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  box-sizing: border-box;
  margin: 30px;
}
.div-inputs2 {
  padding: 15px; 
  border-radius: 8px;
  display: flex;
  flex-direction: column; 
  gap: 20px; 
  width: 100%; 
  margin: 20px 0 ;
  height: 500px;
  background-color: var(--BrancoC2);
}

.div-inputs2 input {
  color: var(--BrancoC2);
  background-color: var(--AzulP2);
  width: 90%; 
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  box-sizing: border-box;
  margin: 30px;
}
input::placeholder{
  color: var(--BrancoEE1);
}
.div-inputs1 select{
  color: var(--BrancoC2);
  background-color: var(--AzulP2);
  width: 90%; 
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  box-sizing: border-box;
  margin: 30px;
}
.div-inputs2 select{
  color: var(--BrancoC2);
  background-color: var(--AzulP2);
  width: 90%; 
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  box-sizing: border-box;
  margin: 30px;
}
select::placeholder{
  color: var(--BrancoCC2);
}
.container-buttom{
  background-color: var(--AzulP2);
  color: var(--BrancoC2);
  padding: 23px; 
  border-radius: 8px;
  display: flex;  
  justify-content: center;
  align-items: center; 
  align-self: center;
  height: 12vh; 
  width: 41vh;
  flex-direction: column;
}
.texto{
  margin-top: 5px;
  gap: 10px;
}

.butoon-click-1{
color: var(--AzulP2) ;
background: var(--BrancoC1);
border: none;
border-radius: 10px;
padding: 10px;
cursor: pointer;
display: block;
height: 30px;
}
.butoon-click-1:hover{
    background-color: var(--VermelhoC1);
    color: var(--BrancoCC2);
}

.botoes-edit{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.Salvar{
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color:var(--AzulP2);
  color: var(--BrancoCC2);
  cursor: pointer;
}

.Salvar:hover{
  color: var(--BrancoCC2);
  background-color: green;
}

.Voltar{
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color:var(--AzulP2);
  color: var(--BrancoCC2);
  cursor: pointer;
}
.Voltar:hover{
  color: var(--BrancoCC2);
  background-color: var(--AzulCC1);
}

.Excluir{
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color:var(--AzulP2);
  color: var(--BrancoCC2);
  cursor: pointer;
}

.Excluir:hover{
  color: var(--BrancoCC2);
  background-color: var(--VermelhoC2);
}

.texte-ed{
  color:  var(--BrancoCC2);
  width: 1px;

}

.imagemfeliz{
  width: 1000px;
  height: 1000px;
}


.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* translucent dark background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* ensures it's on top */
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  z-index: 1000;
}

.popup button {
  margin-top: 10px;

}

.container-editperfil {
  position: relative;
}