:root{
    /**extremo claro*/
    --AzulCC1: #1A2D87;
    --AzulCC2: #5E628D;
    --BrancoCC1: #B9BEC8;
    --BrancoCC2: #FFFFFF;
    --VermelhoCC1: #DB808A;
    --VermelhoCC2: #C8586B;
    /**Médio claro*/
    --AzulC1: #0E1848;
    --AzulC2: #404363;
    --BrancoC1: #8D99AE;
    --BrancoC2: #c4d6df;
    --VermelhoC1: #EF233B;
    --VermelhoC2: #B30522;
    /**Padrão*/
    --AzulP1: #091136;
    --AzulP2: #2B2D42;
    --BrancoP1: #8D99AE;
    --BrancoP2: #D8F1FD;
    --VermelhoP1: #EF233B;
    --VermelhoP2: #B30522;
    /**Médio escuro*/
    --AzulE1: #050A1F;
    --AzulE2: #272836;
    --BrancoE1: #787F8A;
    --BrancoE2: #93ACB8;
    --VermelhoE1: #BE1D30;
    --VermelhoE2: #88061B;
    /**Extremo escuro*/
    --AzulEE1: #030611;
    --AzulEE2: #1F202C;
    --BrancoEE1: #6B6F75;
    --BrancoEE2: #687982;
    --VermelhoEE1: #811320;
    --VermelhoEE2: #4E0511;
  }

.container-produto-exer{
    background-color: var(--BrancoP2);
    color: var(--AzulEE1);
    border: 1px solid #000000;
    width: 1100px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    
}

.exercicios-container-22{
    display: flex;
    flex-wrap: wrap;         
    flex-direction: row;     
    gap: 10px;                
    width: 100%;              
    height: 100%;
    overflow-y: auto;         
    padding: 10px;
    box-sizing: border-box;   
    background-color: paleturquoise;
    border-radius: 10px;
}


    .img-produto-exer{
        width: 140px;
        height: 150px;
        border-radius: 10px;
        margin-left: 20px;
        border: 3px solid var(--AzulEE1);
    }

        .imaga-exer{
            background-color: #ffffff;
        }

    .nome-exer-t{
        margin-left: 40px;
        height: 150px;
        align-items: center;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
    }

    .nome-exer-b{
        color: var(--AzulE1);
        height: 50px;
        width: 250px;
        align-items: center;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        border: 3px solid var(--AzulEE1);
    }

        .descricao-exer{
            color: var(--AzulE1);
            margin-left: 80px;
            height: 150px;
            margin-right: 100px;
        }

        .button-x-exer{
            background-color: var(--VermelhoC2);
            border-radius: 10px;
            
        }

            .button-x-exer:hover{
                background-color: var(--VermelhoC1);
            }

            .icone-x-exer{
                height: 40px;
                width: 40px;
            }

        .button-l-exer{
            background-color: rgb(18, 192, 41);
            border-radius: 10px;
            margin-left: 20px;
            margin-right: 20px;
        }

            .button-l-exer:hover{
                background-color:  rgb(0, 255, 34);
            }

            .icone-l-exer{
                height: 40px;
                width: 40px;
            }

                    

                    .container-produto-exer.apagado {
                        filter: blur(3px);
                        opacity: 0.5;
                        pointer-events: none;
                        transition: 0.3s ease;
                    }