


:root {
    /**extremo claro*/
    --AzulCC1: #1A2D87;
    --AzulCC2: #5E628D;
    --BrancoCC1: #B9BEC8;
    --BrancoCC2: #FFFFFF;
    --VermelhoCC1: #DB808A;
    --VermelhoCC2: #C8586B;
    /**Médio claro*/
    --AzulC1: #0E1848;
    --AzulC2: #404363;
    --BrancoC1: #8D99AE;
    --BrancoC2: #D8F1FD;
    --VermelhoC1: #EF233B;
    --VermelhoC2: #B30522;
    /**Padrão*/
    --AzulP1: #091136;
    --AzulP2: #2B2D42;
    --BrancoP1: #8D99AE;
    --BrancoP2: #D8F1FD;
    --VermelhoP1: #EF233B;
    --VermelhoP2: #B30522;
    /**Médio escuro*/
    --AzulE1: #050A1F;
    --AzulE2: #272836;
    --BrancoE1: #787F8A;
    --BrancoE2: #93ACB8;
    --VermelhoE1: #BE1D30;
    --VermelhoE2: #88061B;
    /**Extremo escuro*/
    --AzulEE1: #030611;
    --AzulEE2: #1F202C;
    --BrancoEE1: #6B6F75;
    --BrancoEE2: #687982;
    --VermelhoEE1: #811320;
    --VermelhoEE2: #4E0511;
}

.container-login {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, var(--AzulCC1) 0%, var(--AzulE1) 100%);
}

.container-login-2{ 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
}

.div-cadas-esquerda-login{
    width: 50%;
    height: 100vh;
    background: linear-gradient(135deg, var(--AzulCC1) 0%, var(--AzulE1) 100%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    flex-direction: column;
}
        .espaco-0-login{
            height: 550px;
        }
        .titulo-logo-login{
            height: 350px;
            width: 650px;
        }
.div-cadas-direita-login{
    width: 50%;
    height: 100vh;
    background-color: var(--AzulE2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}


.cadas-inf-login{
    width: 80%;
    height: 700px;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

        .titulo-cadas-login{
           /* background-color: var(--BrancoCC2);*/
            text-align: center;
        }
                .logomarca-login{
                    height: 100px;
                    width: 250px;

                }

        .cadas-input-login{
            width: 100%;
            height: 200px;
            border-radius: 10px;
            border: 1px solid var(--BrancoCC1);
            color: var(--AzulCC1);
            padding: 20px;
        }

                .texto-cadas-login{
                    width: 100%;
                    height: 50px;
                    border-radius: 10px;
                    border: 1px solid var(--BrancoEE1);
                    background-color: var(--BrancoCC2);
                    color: var(--AzulCC1);
                    padding: 10px;
                    font-size: 16px;
                    margin-top: 20px;

                }

.espaco-2-login{
    width: 50%;
    height: 10px;
  }

  .checkbox-container-login{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

        .checkbox-login{
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: 1px solid var(--BrancoCC1);
            background-color: var(--BrancoCC2);
            color: var(--BrancoCC2);
        }
        

        .button-login{
            width: 80%;
            height: 50px;
            border-radius: 10px;
            border: 1px solid var(--BrancoCC1);
            background-color: var(--BrancoCC2);
            color: var(--AzulCC1);
            font-weight: bold;
            font-size: 16px;
            cursor: pointer;
        }
        .button-login:hover{
            background-color: var(--BrancoCC1);
            color: var(--AzulCC2);
        }

.mostra-senha-login{
    color: var(--BrancoCC1);
    font-size: 16px;
    margin-left: 10px;
}

.register-link-login-1{
    color: var(--BrancoC2);
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
}

.register-link-login-1:hover{
    color: var(--BrancoC2);
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
}
        .register-link-login-2{
        color: var(--BrancoCC1);
        text-decoration: none;
        font-size: 16px;
        margin-top: 20px;
    }

    .register-link-login-2:hover{
        color: var(--BrancoCC2);
        text-decoration: none;
        font-size: 16px;
        margin-top: 20px;
    }